body{
    background-image:url("circles-dark.png") 
}
h1,h3{
    color: red;
    text-transform: uppercase;
}

figcaption{
    color: darkblue;
}

section{
    font-family: 'Roboto', sans-serif;
    font-size: 12;
    margin-left: 5%;
}
p,h4{
    margin-left: 5%;
}
figure{
    margin-left: 10%;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
ul{
    list-style-type: none;
}


